body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3, .card-body > .card-title {
  font-family: 'Lobster', cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h1 {
  color: #10375c;
  line-height: 1;
}

h2 {
  color: #10375c;
  margin-top: -10px;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar-brand {
  max-width: 2rem;
  margin-right: 1rem;
}

.navbar-brand img {
  width: 500px;
  height: auto;
  margin-right: 1rem;
  max-width: 6rem;
}

.navbar-dark {
  background-color: #f3c623;
  background-image: linear-gradient(to right, #10375c, #10375c, #f3c623);
  margin-bottom: 2rem;
  min-height: 8rem;
}

.name-text {
  font-size: 5rem;
  color: #f3c623;
}

.hero-section {
  display: flex;
  margin-top: -40px;
  align-items: flex-start;
  padding: 80px; /* Adjusted padding for size of background*/
  background-color: #10375c;
  color: white;
}

.about-me-section {
  padding: 80px;
}

.card-body {
  background-color: #10375c;
  border-radius: 10px;
}

.card-title{
  color: #FFFFF0;
}

.project-section {
  background-color: #10375c;
  padding: 80px;
}

.projects-h1 {
  color: #f3c623;
} 

.project-card {
  margin-bottom: 20px;
}

.contact-form-h3 {
  color: #10375c;
}

.contact-form {
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.contact-form input[type="textarea"] {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #FFFFF0;
  border-radius: 5px;
  min-height: 200px; /* Increase the height for a more square shape */
}

.contact-form button {
  margin-top: 10px;
  background-color: #10375c;
  color: white;
  border-width: 2px;
  border-color: #f3c623;
  font-family: 'Lobster', cursive; 
  font-size: 1.2rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}
